.header-class{
    font-size: 46px;
    color: violet;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.small-header-class{
    font-size: 30px;
    color: turquoise;
    font-family: Arial, Helvetica, sans-serif
}

.text-class{
    color: white;
    font-family: Arial, Helvetica, sans-serif
}

.body-class{
    background-image: url("dc.png");
    background-size: 300px;
    background-repeat: no-repeat;
    background-position: bottom right;
    background-color: black;
}